In [1]:
import pandas as pd
import os

In [3]:
games = pd.read_csv('../data/games.csv')
games_2016 = games[games['Season'] == 2016]
games_2017 = games[games['Season'] == 2017]

#### Concatenate dataframes

In [4]:
games = pd.concat([games_2016, games_2017])
games['Season'].value_counts()

2017    333
2016    333
Name: Season, dtype: int64

#### Cross-tabulate Season and Season Type

In [5]:
pd.crosstab(games.Season, games.SeasonType)

SeasonType  Post  Pre  Reg
Season
2016          12   65  256
2017          12   65  256

### Concatenating rows with duplicated indexes

In [9]:
# Rejoin data frames
games = pd.concat([games_2016, games_2017], ignore_index=True)
games.head(2)

   GameKey  Season SeasonType            HomeTeam          VisitTeam
0        1    2016        Pre  Indianapolis Colts  Green Bay Packers
1        2    2016        Pre    Los Angeles Rams     Dallas Cowboys