In [1]:
import pandas as pd

### Inner join

In [3]:
census = pd.read_pickle('../data/census.p')
census.head(3)

  ward  pop_2000  pop_2010 change                      address    zip
0    1     52951     56149     6%  2765 WEST SAINT MARY STREET  60647
1    2     54361     55805     3%     WM WASTE MANAGEMENT 1500  60622
2    3     40385     53039    31%          17 EAST 38TH STREET  60653

In [4]:
wards = pd.read_pickle('../data/ward.p')
wards.head(3)

  ward            alderman                     address    zip
0    1  Proco "Joe" Moreno   2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins  1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell     5046 SOUTH STATE STREET  60609

In [5]:
ward_census = wards.merge(census, on='ward')
ward_census.head(3)

,ward,alderman,address_x,zip_x,pop_2000,pop_2010,change,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653

- Inner join will only return rows that have matching values in both tables
- Merged table has columns with suffixes of underscore x or y
- This is because both the wards and census tables contained address and zip columns.
- To avoid multiple columns with the same name, they are automatically given a suffix by the merge method
- We can use suffix argument of the merge method to control this behaviour. We provide a tuple where all of the overlapping columns in the left table are given the suffix '_cen', and those of the right table will be given the suffix '_ward'.

In [6]:
wards_census = wards.merge(census, on='ward', suffixes=('_cen', '_ward'))
wards_census.head(3)

,ward,alderman,address_cen,zip_cen,pop_2000,pop_2010,change,address_ward,zip_ward
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653

### inner join

In [7]:
taxi_owners = pd.read_pickle('../data/taxi_owners.p')
taxi_owners.head(2)

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659

In [8]:
taxi_veh = pd.read_pickle('../data/taxi_vehicles.p')
taxi_veh.head(2)

    vid    make  model  year fuel_type           owner
0  2767  TOYOTA  CAMRY  2013    HYBRID  SEYED M. BADRI
1  1411  TOYOTA   RAV4  2017    HYBRID     DESZY CORP.

- Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh
- Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectiv
- Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used./

In [9]:
# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')

In [10]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

In [11]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

### Inner joins and number of rows returned
- It is necessary to understand that inner joins only return the rows with matching values in both tables.
- Merge wards and census on the ward column and save the result to wards_census.
- In the wards table, within the ward column, change the value of '1' to '61'.
- In the census table (not ward), within the ward column, change the value of '1' to None.

In [12]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print(wards_census.shape)

(50, 9)

In [13]:
# In the ward column change '1' to '61'
wards.loc[wards['ward'] == '1', 'ward'] = '61'

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print(wards_census.shape)

(49, 9)

In [14]:
# Change '1' to None in `ward` col
census.loc[census['ward'] == '1', 'ward'] = None

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print(wards_census.shape)

(49, 9)

- the .merge() returned a table with the same number of rows as the original wards table. However, in steps 2 and 3 after altering the ward column in one table but not altering the other, the number of returned rows was fewer. Remember that .merge() only returns rows where the values match in both tables.